.ycenter {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.xcenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.acenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
select {
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:focus, select:focus{
    outline: none;
}

.container {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checktask input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkmark:after {
  height: 100%;
  width: 100%;
	background: white;
}
form {
  margin: 0px;
}
